<mat-toolbar color="accent">
  <mat-toolbar-row fxLayout="row">
    <h2 fxFlex>Triage: <small>Keyboard shortcuts available (e.g.: <kbd>3</kbd> for 3rd option).</small></h2>
    <span class="example-spacer"></span>

    <mat-button-toggle-group #group="matButtonToggleGroup">
      <mat-button-toggle *ngFor="let a of [0,1,2,3,4,5,6,7,8,9]" value="a">
        <mat-icon>keyboard</mat-icon> {{a}}
      </mat-button-toggle>
    </mat-button-toggle-group>
  </mat-toolbar-row>
</mat-toolbar>



<div [innerHTML]="artifactContent"
     *ngIf="artifactContent != null  && artifactContent !== 'img'">
</div>

<div class="bg" #bg></div>
