<app-banner-display></app-banner-display>

<h1 class="mat-h1 page-margin" style="margin-bottom: 25px">{{getUser()}}'s Agenda</h1>

<app-performance-kpis style="margin: 25px">
</app-performance-kpis>

<div class="page-margin" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="25px">
  <mat-card fxFlex (click)="navigateByUrl('/artifact')"
            style="background-color: cornflowerblue; color: whitesmoke">
    <mat-card-header>
      <mat-icon mat-card-avatar>cloud_upload</mat-icon>
      <mat-card-title>Store</mat-card-title>
      <mat-card-subtitle style="color: whitesmoke">
        Store and list URLs for triage.
      </mat-card-subtitle>
    </mat-card-header>
  </mat-card>

  <mat-card fxFlex (click)="navigateByUrl('/categorise')"
            style="background-color: lightcoral; color: whitesmoke">
    <mat-card-header>
      <mat-icon mat-card-avatar>explore</mat-icon>
      <mat-card-title>Triage²!</mat-card-title>
      <mat-card-subtitle style="color: whitesmoke">
        Review the triage others have done.
      </mat-card-subtitle>
    </mat-card-header>
  </mat-card>
</div>
