<app-banner-display></app-banner-display>

<h1 class="mat-h1 page-margin" style="margin-bottom: 25px">{{getUser()}}'s Agenda</h1>

<div class="page-margin" style="margin-bottom: 25px"
     fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="25px">
  <mat-card fxFlex>
    <mat-card-header>Images left to triage</mat-card-header>
    <mat-card-content><h2>571</h2></mat-card-content>
  </mat-card>


  <mat-card fxFlex>
    <mat-card-header>Total images</mat-card-header>
    <mat-card-content><h2>1591</h2></mat-card-content>
  </mat-card>
</div>

<div class="page-margin" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="25px">
  <mat-card fxFlex (click)="navigateByUrl('/artifact')"
            style="background-color: cornflowerblue; color: whitesmoke">
    <mat-card-header>
      <mat-icon mat-card-avatar>cloud_upload</mat-icon>
      <mat-card-title>Store</mat-card-title>
      <mat-card-subtitle style="color: whitesmoke">
        Review the triage others have done.
      </mat-card-subtitle>
    </mat-card-header>
  </mat-card>

  <mat-card fxFlex (click)="navigateByUrl('/triage')"
            style="background-color: lightcoral; color: whitesmoke">
    <mat-card-header>
      <mat-icon mat-card-avatar>explore</mat-icon>
      <mat-card-title>Triage²!</mat-card-title>
      <mat-card-subtitle style="color: whitesmoke">
        Review the triage others have done.
      </mat-card-subtitle>
    </mat-card-header>
  </mat-card>
</div>
