<app-performance-kpis></app-performance-kpis>

<div class="page-margin" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="25px"
     *ngIf="categoryEnums != null && categoryEnums.length > 0">
  <form [formGroup]="filterForm" (ngSubmit)="submitFilter()"
        fxFlex="50" fxLayout="column">
    <h3>Filter</h3>

    <div fxLayout="row" fxLayout.lt-sm="column" fxFlex="100" fxLayoutGap="25px">
      <mat-form-field fxFlex>
        <input matInput placeholder="username" formControlName="username">
      </mat-form-field>


      <mat-form-field fxFlex>
        <input matInput placeholder="Newer than" formControlName="updatedAt">
      </mat-form-field>
    </div>

    <div fxLayout="row" fxLayout.lt-sm="column" fxFlex="100" fxLayoutGap="25px">
      <mat-form-field fxFlex>
        <mat-label>Category enumeration</mat-label>
        <mat-select matNativeControl formControlName="categoryEnum">
          <mat-option [value]="[categoryEnum.name, JSON.stringify(categoryEnum.enumeration)].join(' ')"
                      *ngFor="let categoryEnum of categoryEnums">
            {{categoryEnum.name}} {{JSON.stringify(categoryEnum.enumeration)}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field fxFlex>
        <mat-select placeholder="classification" formControlName="category">
          <h5 matSubheader style="padding: 0 20px">
            {{parseAndReturnCategoryName(filterForm.get('categoryEnum'))}}
          </h5>
          <mat-option [value]="null">
            <em>
            <- Unset ->
            </em>
          </mat-option>

          <mat-option *ngFor="let category of enumValueToArray(filterForm.get('categoryEnum').value)"
                                   [value]="category">
          {{category}}
        </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <button mat-raised-button color="accent" type="submit">
      Change filter
    </button>
  </form>

  <form [formGroup]="defaultsForm" (ngSubmit)="submitDefaults()"
        fxFlex="50" fxLayout="column">
    <h3 fxFlex="100">Default configuration</h3>

    <mat-form-field fxFlex="100">
      <mat-label>Default category enumeration</mat-label>
      <mat-select matNativeControl required formControlName="defaultCategoryEnum">
        <mat-option [value]="[categoryEnum.name, JSON.stringify(categoryEnum.enumeration)].join(' ')"
                    *ngFor="let categoryEnum of categoryEnums">
          {{categoryEnum.name}} {{JSON.stringify(categoryEnum.enumeration)}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">
      Set defaults
    </button>
  </form>
</div>

<app-triage-next></app-triage-next>
