<mat-toolbar color="accent">
  <mat-toolbar-row fxLayout="row" *ngIf="categoryEnum != null; else noEnum">
    <h2 fxFlex fxHide.lt-md>Triage:&nbsp;</h2>
    <small fxFlex fxHide.lt-lg>Keyboard shortcuts available (e.g.: <kbd>3</kbd> for 3rd option, <kbd>n</kbd> for next).&nbsp;</small>
    <span fxHide.lt-md class="example-spacer"></span>
    <p fxFlex fxHide.lt-md>Click image for full screen</p>
    <span fxHide.lt-md class="example-spacer"></span>

    <mat-button-toggle-group fxLayout="row" fxLayout.lt-sm="column"
                             #group="matButtonToggleGroup"
                             (change)="categorySet(group.value)"
                             [(ngModel)]="enumerationGroupValue"
                             [ngStyle.lt-sm]="{width: '100%', 'margin-top': '120px'}">
      <mat-button-toggle fxFlex *ngFor="let enumeration of categoryEnum.enumeration" [value]="enumeration">
        <mat-icon>keyboard</mat-icon>
        {{enumeration}}
      </mat-button-toggle>
    </mat-button-toggle-group>
  </mat-toolbar-row>

  <ng-template #noEnum>
    <mat-toolbar-row>
      Error: no default category enumeration set.&nbsp;
      <a mat-stroked-button color="warn" style="background-color: whitesmoke" routerLink="/triage">Set one now.</a>
    </mat-toolbar-row>
  </ng-template>
</mat-toolbar>

<app-artifact-item></app-artifact-item>

<div fxLayout="row">
  <button mat-raised-button fxFlex style="margin-top: 25px;"
          [ngStyle.xs]="{'height': '30px', 'font-size': 'medium'}"
          [ngStyle.sm]="{'height': '40px', 'font-size': 'large'}"
          [ngStyle.md]="{'height': '50px', 'font-size': 'x-large'}"
          [ngStyle.gt-md]="{'height': '150px', 'font-size': 'xx-large'}"
          (click)="previous()">
    <mat-icon>arrow_back</mat-icon>
    Back
  </button>
  <app-triage-next fxFlex></app-triage-next>
</div>
