.sidenav-container {
  // height: 100%;
  max-height: 64px;
}

.sidenav {
  width: 200px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
}

a {
  color: whitesmoke;
  text-decoration: none
}

.example-fill-remaining-space {
  flex: 1 1 auto;
}

.active-list-item {
  background: #515FB6;
  color: white;
  border: #3f51b5 thin solid !important; /* Note: You could also use a custom theme */
}

.mat-list-base .mat-list-item {
  color: whitesmoke;
}

#sidebar-items {
  .mat-list-base .mat-list-item {
    color: red !important;
  }
}

.mat-drawer {
  background: #3f51b5;
}
